/*Documento css*/

* { margin: 0; 
    padding: 0;}

body { background-color: black;}

body, img, p, h2 { padding-left: 6em;
                    padding-right: 6em; }

body::before { content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                background-image: url(/img/ultraman\ fondo.jpeg);
                background-size: cover;
                opacity: 0.3;
                z-index: -1; }

header, footer, div { box-sizing: border-box; }

h1 { text-align: center;
    color: antiquewhite;
    padding-top: 2em;
    padding-bottom: 1em; }

a { color: rgb(255, 38, 0); }

p { color: antiquewhite; } /*cambiar*/

h2 { color: antiquewhite; }

footer { color: antiquewhite; }

.container1 { display: flexbox;
            align-items: center;
            padding-bottom: 2em; } 

.container1 p { display: flex; }

.poster { max-width: 100%;
            height: auto;
            margin-right: 10px; }

.sinopsis { display: block;
            width: 1200px;
            padding: 10px; }

.container2 { display: flex;
                align-items: center;
                padding-top: 2em; } 