/*DOCUMENTO CSS*/

* { margin: 0; 
    padding: 0;
    border-spacing: 0px;}

body { background-color: black; }

h1 { color: antiquewhite;
    text-transform: uppercase;
    text-align: center;
    padding: 2em 0em; }

h2, h3 {color: antiquewhite;
        padding: .5em 1em; }



p, b { color: antiquewhite; }

img { float: left ;
        padding-right: 3em;
    padding-bottom: 2em; }

/*ARREGLA ESTO*/