/*DOCUMENTO CSS*/

* { margin: 0; 
    padding: 0;}

header, footer, div, main, article, nav { box-sizing: border-box; }

body { background-color: rgb(192, 221, 205);
    font-family: "Inter", sans-serif; }

h1 { background-color: rgb(157, 209, 183);
    color: whitesmoke;
    text-align: center; 
    padding: 15px 0px;}

.segundo { color: rgb(165, 95, 230); }

.lista {  width: 60%;
        min-height: 1px; 
        background-color: rgb(221, 223, 238);
        margin: 15px auto; 
        padding: 15px 15px 15px 15px;}

.relleno { padding-left: 30px; }