/*Documento CSS*/

* { margin: 0;
    padding: 0; }

section, div { box-sizing: border-box; }  

h3 { color: gray; }

.contenedor { display: flex;
            width: 100%;
            background: purple;
            padding: 15px;
            flex-flow: column wrap; }

.item { width: 100%;
        background: orange;
        margin-bottom: 15px; }

/*Media Queries*/
@media only screen and (min-width: 580px)  {
    
    h3 { color: whitesmoke;
            text-align: center; }

    .item { height: 100px; 
            background: yellowgreen;}

}

/*Pantallas de más de 780px*/
@media only screen and (min-width: 780px) {

    .contenedor { background: blue; }

    h3 { color: blue; }
}

/*Pantallas de más de 1380px*/
@media only screen and (min-width: 1380px) {

    .contenedor { flex-flow: row wrap;
                    width: 60%;
                    margin: auto; }

    .item { width: 33.33%;
            margin-bottom: 0%; }

}