/*DOCUMENTO CSS*/

* { margin: 0;
    padding: 0; }

body { background-color: rgb(133, 210, 238); }

h1 { text-align: center;
    text-transform: uppercase;
    padding: 1% 0em;
    color: rgb(255, 255, 255);
    width: 60%;
    margin: auto;
   }

.cuerpo { display: flex;
            width: 100%;
            min-height: 1px;
            background-color: rgb(232, 237, 240);
            padding: 20px 0px; }

img { padding-left: 50px;
        padding-right: 50px; }


.texto { padding-right: 50px;
            font-family: "Inter", serif; }

footer { color: rgb(255, 255, 255); 
        text-shadow: 1px black;
        padding-top: 8em;
        text-align: center; }