/*Documento CSS*/

* { margin: 0;
    padding: 0; }

h1 { text-align: center;
    padding-top: 2em; }

.container { display: flex;
    box-sizing: border-box;
    padding: 2.5em;
    margin: 0px auto; }

.img1, .img2, .img3 { width: 33.33%; } 

.item1, .item2, .item3 { box-sizing: border-box;
                        
                        max-width: 22em; } /*ARREGLA*/
                        /*Hacer que la caja de tecto temga un ancho maximo*/

