/*DOCUMENTO CSS*/

* { margin: 0; 
    padding: 0;}

body { background-color: rgb(227, 241, 255);}

img, p, h1, h2 { padding-left: 24em;
                    padding-right: 24em;
                    text-align: center; }

footer {padding-top: 4em;
        padding-bottom: 4em;
        background-color: rgb(209, 209, 241);
        font-family: "Manrope", system-ui; }

h1, h2 {padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-family: "Anton", sans-serif; }

p {padding-top: 1em;
    font-family: "Manrope", system-ui; }

.container { display: flex;
            align-items: center;
            flex-direction: column; } 
